<div class="row">
  <div class="col-lg-12">
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount"># of Images</label>
        <div class="input-group">
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="# of Images" ng-model="imgNo">
        </div>
      </div>
      <button type="button" class="btn btn-primary" ng-click="loadImg()">Load Image</button>
    </form>
  </div>
  <div class="col-lg-12">
    <h2 ng-hide="isLoading">Loading Completed</h2>
    <h2 ng-show="isLoading">Loading..</h2>
    <h5>Loading Time: {{$rootScope.difftime}} ms</h5>
    <img ng-repeat="img in images" lazy-img="{{img.url}}" width="100" height="50"/>

  </div>
</div>
