<div class="row">
  <div class="col-lg-12">
    <h2>Loaded Image</h2>
    <img ng-src="imgUrl"/>
  </div>
  <div class="col-lg-12">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="loadImg('small')">Small Image</button>
      <button type="button" class="btn btn-default" ng-click="loadImg('4k')">4K Image</button>
      <button type="button" class="btn btn-default" ng-click="loadImg('5k')">5K Image</button>
    </div>
  </div>
</div>
